/* font */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Poppins:wght@400;500&display=swap');

/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

/* header part */
.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: #562EFF;
}
.idea-part{
    display: flex;
    align-items: center;
}
.idea-part img{
    width: 40px;
    height: 50px;
    color: white;
}
.idea-part>h3{
    margin-left: 16px;
}
.link-part{
    display: flex;
    list-style: none;
    align-items: center;
}
.link-part a{
    text-decoration: none;
    margin-right: 36px;
    color: #FFFFFF;
    font-size: 16px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 870px;
    background-color: #FFFFFF;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

/* top player style */
.section-title{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-row-gap: 30px;

}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 28px ;
}

/* top blog style */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog{
    display: flex;
}

.thumnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* Lates course style */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-author{
    font-size: 14.5px;
    color: #ED6B4F;
}
.course-duration{
    font-size: 14.5px;
    color: #FF4A60;
    background-color: #FEE5DF;
    border-radius: 15px;
    padding: 3px 5px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.fielled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}

/*-------
    Media Query
         ----------- */
/* Mobile devices */

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .section-title{
        text-align: center;
    }
    .players , .blogs , .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player , .blog{
        flex-direction: column;
        align-items: center;
    }
    .course-banner{
        display: flex;
        justify-content: center;
    }
    .course-details{
        text-align: center;
    }
}

/* Tablete Devices */

@media only screen and (min-width:689px) and (max-width:991px) {
    .container{
        width: 100%;
    }
    .section-title{
        text-align: center;
    }
    .players , .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .player{
        justify-content: center;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        justify-content: center;
    }
}